openapi: 3.2.0
info:
  title: External Reports API
  version: 6551bd49db665ffb7f80780b3e150b8e8b780cc3
servers:
- url: https://api.tryprofound.com
  description: Production Server
tags:
- name: Reports
paths:
  /v1/reports/citations:
    post:
      tags:
      - Reports
      summary: Query Citations
      description: 'Get citations for a given category.


        The ``mentioned`` filter supports ``is true`` and ``is false``. It uses the

        latest page analysis available at or before ``end_date``; pages without an

        analysis by then are excluded from both values. ``citation_share`` keeps all

        otherwise eligible citations in its denominator when this filter is used.'
      operationId: query_citations_v1_reports_citations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CitationsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/citations/stream:
    post:
      tags:
      - Reports
      summary: Stream Citations
      description: Stream citations with the same filter semantics as the non-streaming route.
      operationId: stream_citations_v1_reports_citations_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamCitationsQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - properties:
                    query:
                      additionalProperties: true
                      type: object
                      title: Query
                      description: The normalized query used to build the stream.
                    total_rows:
                      type: integer
                      title: Total Rows
                      description: Total number of rows available before pagination is applied.
                  type: object
                  required:
                  - query
                  - total_rows
                  title: SSESummaryEventData
                - additionalProperties: true
                  type: object
                  description: A streamed citations report row payload.
              examples:
                summary:
                  summary: Initial summary event payload
                  value:
                    query:
                      category_id: 12345678-1234-5678-1234-567812345678
                      metrics:
                      - count
                      dimensions:
                      - model
                    total_rows: 2
                row:
                  summary: Streamed row event payload
                  value:
                    model:
                      id: 11111111-1111-1111-1111-111111111111
                      name: GPT-4
                    count: 42
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/visibility:
    post:
      tags:
      - Reports
      summary: Query Visibility
      description: Query visibility report.
      operationId: query_visibility_v1_reports_visibility_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/visibility/stream:
    post:
      tags:
      - Reports
      summary: Stream Visibility
      operationId: stream_visibility_v1_reports_visibility_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamVisibilityQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - properties:
                    query:
                      additionalProperties: true
                      type: object
                      title: Query
                      description: The normalized query used to build the stream.
                    total_rows:
                      type: integer
                      title: Total Rows
                      description: Total number of rows available before pagination is applied.
                  type: object
                  required:
                  - query
                  - total_rows
                  title: SSESummaryEventData
                - additionalProperties: true
                  type: object
                  description: A streamed visibility report row payload.
              examples:
                summary:
                  summary: Initial summary event payload
                  value:
                    query:
                      category_id: 12345678-1234-5678-1234-567812345678
                      metrics:
                      - count
                      dimensions:
                      - model
                    total_rows: 2
                row:
                  summary: Streamed row event payload
                  value:
                    asset:
                      id: 11111111-1111-1111-1111-111111111111
                      name: Brand A
                    mentions_count: 7
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/sentiment:
    post:
      tags:
      - Reports
      summary: Query Sentiment
      description: Get citations for a given category.
      operationId: query_sentiment_v1_reports_sentiment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/sentiment/stream:
    post:
      tags:
      - Reports
      summary: Stream Sentiment
      operationId: stream_sentiment_v1_reports_sentiment_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSentimentQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - properties:
                    query:
                      additionalProperties: true
                      type: object
                      title: Query
                      description: The normalized query used to build the stream.
                    total_rows:
                      type: integer
                      title: Total Rows
                      description: Total number of rows available before pagination is applied.
                  type: object
                  required:
                  - query
                  - total_rows
                  title: SSESummaryEventData
                - additionalProperties: true
                  type: object
                  description: A streamed sentiment report row payload.
              examples:
                summary:
                  summary: Initial summary event payload
                  value:
                    query:
                      category_id: 12345678-1234-5678-1234-567812345678
                      metrics:
                      - count
                      dimensions:
                      - model
                    total_rows: 2
                row:
                  summary: Streamed row event payload
                  value:
                    theme: price
                    occurrences: 12
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/sentiment-v2:
    post:
      tags:
      - Reports
      summary: Query Sentiment V2
      operationId: query_sentiment_v2_v1_reports_sentiment_v2_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentV2ReportQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentV2ReportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/web-search-results:
    post:
      tags:
      - Reports
      summary: Query Web Search Results
      description: Get web search results for a given category.
      operationId: query_web_search_results_v1_reports_web_search_results_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebSearchResultsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSearchResultsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/web-search-results/stream:
    post:
      tags:
      - Reports
      summary: Stream Web Search Results
      operationId: stream_web_search_results_v1_reports_web_search_results_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamWebSearchResultsQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - properties:
                    query:
                      additionalProperties: true
                      type: object
                      title: Query
                      description: The normalized query used to build the stream.
                    total_rows:
                      type: integer
                      title: Total Rows
                      description: Total number of rows available before pagination is applied.
                  type: object
                  required:
                  - query
                  - total_rows
                  title: SSESummaryEventData
                - additionalProperties: true
                  type: object
                  description: A streamed web-search-results report row payload.
              examples:
                summary:
                  summary: Initial summary event payload
                  value:
                    query:
                      category_id: 12345678-1234-5678-1234-567812345678
                      metrics:
                      - count
                      dimensions:
                      - model
                    total_rows: 2
                row:
                  summary: Streamed row event payload
                  value:
                    model:
                      id: 11111111-1111-1111-1111-111111111111
                      name: GPT-4
                    count: 42
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/referrals:
    post:
      tags:
      - Reports
      summary: Get Referrals Report V1
      description: 'Get referral traffic report from the daily aggregated materialized view.


        This endpoint queries pre-aggregated daily referral data, making it efficient

        for large date ranges and high-traffic sites.'
      operationId: get_referrals_report_v1_v1_reports_referrals_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferralsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/bots:
    post:
      tags:
      - Reports
      summary: Get Bots Report V1
      description: 'Get bot traffic report from the daily aggregated materialized view.


        This endpoint queries pre-aggregated daily bot data, making it efficient

        for large date ranges and high-traffic sites.


        Metrics:

        - count: unique bot visits

        - citations: unique citation events

        - indexing: unique indexing events

        - training: unique training events

        - last_visit: most recent visit timestamp'
      operationId: get_bots_report_v1_v1_reports_bots_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsReportQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/query-fanouts:
    post:
      tags:
      - Reports
      summary: Query Fanouts
      operationId: query_fanouts_v1_reports_query_fanouts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFanoutsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/visibility:
    post:
      tags:
      - Reports
      summary: Shopping Visibility
      operationId: shopping_visibility_v1_reports_shopping_visibility_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingVisibilityQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/item-visibility:
    post:
      tags:
      - Reports
      summary: Shopping Item Visibility
      operationId: shopping_item_visibility_v1_reports_shopping_item_visibility_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingItemVisibilityQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/merchant-distribution:
    post:
      tags:
      - Reports
      summary: Shopping Merchant Distribution
      operationId: shopping_merchant_distribution_v1_reports_shopping_merchant_distribution_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantDistributionQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/merchant-visibility-by-brand:
    post:
      tags:
      - Reports
      summary: Shopping Merchant Visibility By Brand
      operationId: shopping_merchant_visibility_by_brand_v1_reports_shopping_merchant_visibility_by_brand_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantVisibilityByBrandQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/merchant-by-items:
    post:
      tags:
      - Reports
      summary: Shopping Merchant By Items
      operationId: shopping_merchant_by_items_v1_reports_shopping_merchant_by_items_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantByItemsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/all-items-with-merchants:
    post:
      tags:
      - Reports
      summary: Shopping All Items With Merchants
      operationId: shopping_all_items_with_merchants_v1_reports_shopping_all_items_with_merchants_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingAllItemsWithMerchantsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/trigger-rate:
    post:
      tags:
      - Reports
      summary: Shopping Trigger Rate
      operationId: shopping_trigger_rate_v1_reports_shopping_trigger_rate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingTriggerRateQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/triggered-prompts:
    post:
      tags:
      - Reports
      summary: Shopping Triggered Prompts
      operationId: shopping_triggered_prompts_v1_reports_shopping_triggered_prompts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingTriggeredPromptsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/triggered-topics:
    post:
      tags:
      - Reports
      summary: Shopping Triggered Topics
      operationId: shopping_triggered_topics_v1_reports_shopping_triggered_topics_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingTriggeredTopicsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/merchant-share:
    post:
      tags:
      - Reports
      summary: Shopping Merchant Share
      operationId: shopping_merchant_share_v1_reports_shopping_merchant_share_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantShareQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/product-merchant-urls:
    post:
      tags:
      - Reports
      summary: Shopping Product Merchant Urls
      operationId: shopping_product_merchant_urls_v1_reports_shopping_product_merchant_urls_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingProductMerchantUrlsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/shopping/executions:
    post:
      tags:
      - Reports
      summary: Shopping Executions
      operationId: shopping_executions_v1_reports_shopping_executions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingExecutionsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingRowsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/overview:
    post:
      tags:
      - Reports
      summary: Accuracy Overview
      operationId: accuracy_overview_v1_reports_accuracy_overview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyOverviewQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyOverviewResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/breakdown:
    post:
      tags:
      - Reports
      summary: Accuracy Breakdown
      operationId: accuracy_breakdown_v1_reports_accuracy_breakdown_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyBreakdownQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyBreakdownResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/citation-analysis:
    post:
      tags:
      - Reports
      summary: Accuracy Citation Analysis
      operationId: accuracy_citation_analysis_v1_reports_accuracy_citation_analysis_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyCitationAnalysisQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccuracyCitationAnalysisResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/topic-ids:
    post:
      tags:
      - Reports
      summary: Accuracy Topic Ids
      operationId: accuracy_topic_ids_v1_reports_accuracy_topic_ids_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccuracyTopicIdsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Accuracy Topic Ids V1 Reports Accuracy Topic Ids Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/inaccurate-themes:
    post:
      tags:
      - Reports
      summary: Accuracy Inaccurate Themes
      operationId: accuracy_inaccurate_themes_v1_reports_accuracy_inaccurate_themes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InaccurateThemesQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InaccurateThemesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/inaccurate-clusters:
    post:
      tags:
      - Reports
      summary: Accuracy Inaccurate Clusters
      operationId: accuracy_inaccurate_clusters_v1_reports_accuracy_inaccurate_clusters_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InaccurateClustersQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InaccurateClustersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/inaccuracy-drivers:
    post:
      tags:
      - Reports
      summary: Accuracy Inaccuracy Drivers
      operationId: accuracy_inaccuracy_drivers_v1_reports_accuracy_inaccuracy_drivers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InaccuracyDriversQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InaccuracyDriversResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/top-inaccurate-claims:
    post:
      tags:
      - Reports
      summary: Accuracy Top Inaccurate Claims
      operationId: accuracy_top_inaccurate_claims_v1_reports_accuracy_top_inaccurate_claims_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopInaccurateClaimsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopInaccurateClaimsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/claim-breakdown:
    post:
      tags:
      - Reports
      summary: Accuracy Claim Breakdown
      operationId: accuracy_claim_breakdown_v1_reports_accuracy_claim_breakdown_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimBreakdownQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimBreakdownResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/claim-citations:
    post:
      tags:
      - Reports
      summary: Accuracy Claim Citations
      operationId: accuracy_claim_citations_v1_reports_accuracy_claim_citations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimCitationsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimCitationsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/cluster-example-runs:
    post:
      tags:
      - Reports
      summary: Accuracy Cluster Example Runs
      operationId: accuracy_cluster_example_runs_v1_reports_accuracy_cluster_example_runs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterExampleRunsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterExampleRunsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/cluster-verification-pairs:
    post:
      tags:
      - Reports
      summary: Accuracy Cluster Verification Pairs
      operationId: accuracy_cluster_verification_pairs_v1_reports_accuracy_cluster_verification_pairs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterVerificationPairsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterVerificationPairsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v1/reports/accuracy/factcheck-setup-status:
    post:
      tags:
      - Reports
      summary: Accuracy Factcheck Setup Status
      operationId: accuracy_factcheck_setup_status_v1_reports_accuracy_factcheck_setup_status_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactCheckSetupStatusQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactCheckSetupStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/referrals:
    post:
      tags:
      - Reports
      summary: Get Referrals Report V2
      description: 'Get referral traffic report from the hourly aggregated materialized view (UTC-based).


        Supports date_interval="hour", calendar intervals through "year", "quarter", and "relative_week".'
      operationId: get_referrals_report_v2_v2_reports_referrals_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferralsQueryV2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/bots:
    post:
      tags:
      - Reports
      summary: Get Bots Report V2
      description: 'Get bot traffic report from the hourly aggregated materialized view (UTC-based).


        Supports date_interval="hour", calendar intervals through "year", "quarter", and "relative_week".


        Metrics:

        - count: unique bot visits

        - citations: unique citation events (ai_assistant bot type)

        - indexing: unique indexing events (index bot type)

        - training: unique training events (ai_training bot type)

        - last_visit: most recent visit timestamp


        Dimensions:

        - date, path, bot_name, bot_provider, bot_type'
      operationId: get_bots_report_v2_v2_reports_bots_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotsReportQueryV2'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/visibility:
    post:
      tags:
      - Reports
      summary: Query Visibility V2
      operationId: query_visibility_v2_v2_reports_visibility_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/visibility/stream:
    post:
      tags:
      - Reports
      summary: Stream Visibility V2
      operationId: stream_visibility_v2_v2_reports_visibility_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/VisibilityV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/VisibilityRow'
                  description: '`result` event payload — one visibility row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/citations:
    post:
      tags:
      - Reports
      summary: Query Citations V2
      operationId: query_citations_v2_v2_reports_citations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CitationsV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationsV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/citations/stream:
    post:
      tags:
      - Reports
      summary: Stream Citations V2
      operationId: stream_citations_v2_v2_reports_citations_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CitationsV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CitationsV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/CitationRow'
                  description: '`result` event payload — one citation row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/sentiment:
    post:
      tags:
      - Reports
      summary: Query Sentiment V2
      operationId: query_sentiment_v2_v2_reports_sentiment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/sentiment/stream:
    post:
      tags:
      - Reports
      summary: Stream Sentiment V2
      operationId: stream_sentiment_v2_v2_reports_sentiment_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/SentimentV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/SentimentRow'
                  description: '`result` event payload — one sentiment row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/query-fanouts:
    post:
      tags:
      - Reports
      summary: Query Fanouts V2
      operationId: query_fanouts_v2_v2_reports_query_fanouts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFanoutsV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFanoutsV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/query-fanouts/stream:
    post:
      tags:
      - Reports
      summary: Stream Query Fanouts V2
      operationId: stream_query_fanouts_v2_v2_reports_query_fanouts_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFanoutsV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/QueryFanoutsV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/QueryFanoutRow'
                  description: '`result` event payload — one query-fanout row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/factcheck:
    post:
      tags:
      - Reports
      summary: Query Scores
      operationId: query_scores_v2_reports_factcheck_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactcheckScoresQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactcheckScoresResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/factcheck/stream:
    post:
      tags:
      - Reports
      summary: Stream Scores
      operationId: stream_scores_v2_reports_factcheck_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactcheckScoresQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FactcheckScoresInfo'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/FactcheckScoreRow'
                  description: '`result` event payload — one accuracy score row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/factcheck/claims:
    post:
      tags:
      - Reports
      summary: Query Claims
      operationId: query_claims_v2_reports_factcheck_claims_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactcheckClaimsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactcheckClaimsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/factcheck/claims/stream:
    post:
      tags:
      - Reports
      summary: Stream Claims
      operationId: stream_claims_v2_reports_factcheck_claims_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactcheckClaimsQuery'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FactcheckClaimsInfo'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/FactcheckClaimsRow'
                  description: '`result` event payload — one inaccurate claim.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/social/youtube/channels:
    post:
      tags:
      - Reports
      summary: Query Youtube Channels
      description: Rank the YouTube channels cited in a category, or the video categories they publish in.
      operationId: query_youtube_channels_v2_reports_social_youtube_channels_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YoutubeChannelsQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YoutubeChannelsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/social/youtube/videos:
    post:
      tags:
      - Reports
      summary: Query Youtube Videos
      description: Rank cited YouTube videos, for one channel or across all of them.
      operationId: query_youtube_videos_v2_reports_social_youtube_videos_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YoutubeVideosQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YoutubeVideosResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/social/youtube/summary:
    post:
      tags:
      - Reports
      summary: Query Youtube Summary
      description: Report how much of youtube.com the channel and video rankings account for.
      operationId: query_youtube_summary_v2_reports_social_youtube_summary_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YoutubeSummaryQuery'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YoutubeSummaryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/brands:
    post:
      tags:
      - Reports
      summary: Query Shopping Brands V2
      operationId: query_shopping_brands_v2_v2_reports_shopping_brands_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingBrandsV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingBrandsV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/brands/stream:
    post:
      tags:
      - Reports
      summary: Stream Shopping Brands V2
      operationId: stream_shopping_brands_v2_v2_reports_shopping_brands_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingBrandsV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ShoppingBrandsV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/ShoppingBrandRow'
                  description: '`result` event payload — one visibility row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/products:
    post:
      tags:
      - Reports
      summary: Query Shopping Products V2
      operationId: query_shopping_products_v2_v2_reports_shopping_products_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingProductsV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingProductsV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/products/stream:
    post:
      tags:
      - Reports
      summary: Stream Shopping Products V2
      operationId: stream_shopping_products_v2_v2_reports_shopping_products_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingProductsV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ShoppingProductsV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/ShoppingProductRow'
                  description: '`result` event payload — one product row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/merchants:
    post:
      tags:
      - Reports
      summary: Query Shopping Merchants V2
      operationId: query_shopping_merchants_v2_v2_reports_shopping_merchants_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantsV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingMerchantsV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/merchants/stream:
    post:
      tags:
      - Reports
      summary: Stream Shopping Merchants V2
      operationId: stream_shopping_merchants_v2_v2_reports_shopping_merchants_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingMerchantsV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ShoppingMerchantsV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/ShoppingMerchantRow'
                  description: '`result` event payload — one merchant row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/trigger-rate:
    post:
      tags:
      - Reports
      summary: Query Shopping Trigger Rate V2
      operationId: query_shopping_trigger_rate_v2_v2_reports_shopping_trigger_rate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingTriggerRateV2Query'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingTriggerRateV2Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
  /v2/reports/shopping/trigger-rate/stream:
    post:
      tags:
      - Reports
      summary: Stream Shopping Trigger Rate V2
      operationId: stream_shopping_trigger_rate_v2_v2_reports_shopping_trigger_rate_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppingTriggerRateV2Query'
        required: true
      responses:
        '200':
          description: Server-sent events stream. Emits one `summary` event (the report `info` block) first, then one `result` event per row.
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ShoppingTriggerRateV2Info'
                  description: '`summary` event payload (the report `info` block).'
                - $ref: '#/components/schemas/ShoppingTriggerRateRow'
                  description: '`result` event payload — one trigger row.'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      - BearerAuth: []
components:
  schemas:
    SentimentV2ModelIdFilter:
      properties:
        field:
          type: string
          const: model_id
          title: Field
        operator:
          type: string
          enum:
          - is
          - not_is
          - in
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
            format: uuid
          - items:
              type: string
              format: uuid
            type: array
          title: Value
      type: object
      required:
      - field
      - operator
      - value
      title: SentimentV2ModelIdFilter
    app__routes__v2__answer_engine_insights__reports__query_fanouts__SortSpec:
      properties:
        field:
          type: string
          title: Field
        dir:
          type: string
          enum:
          - asc
          - desc
          title: Dir
          default: desc
      additionalProperties: false
      type: object
      required:
      - field
      title: SortSpec
    AccuracyThemeTrendPoint:
      properties:
        date:
          type: string
          title: Date
        total:
          type: integer
          title: Total
        accurate:
          type: integer
          title: Accurate
        ratio:
          type: number
          title: Ratio
      type: object
      required:
      - date
      - total
      - accurate
      - ratio
      title: AccuracyThemeTrendPoint
    AccuracyThemeTrendSeries:
      properties:
        id:
          type: string
          title: Id
        label:
          type: string
          title: Label
        data:
          items:
            $ref: '#/components/schemas/AccuracyThemeTrendPoint'
          type: array
          title: Data
      type: object
      required:
      - id
      - label
      - data
      title: AccuracyThemeTrendSeries
    ShoppingTriggeredPromptsQuery:
      properties:
        category_id:
          type: string
          format: uuid
          title: Category Id
        start_date:
          type: string
          format: date-time
          title: Start Date
          description: Start date. Accepts YYYY-MM-DD, YYYY-MM-DD HH:MM, or ISO timestamp.
        end_date:
          type: string
          format: date-time
          title: End Date
          description: End date. Accepts YYYY-MM-DD, YYYY-MM-DD HH:MM, or ISO timestamp.
        comparison_start_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Comparison Start Date
        comparison_end_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Comparison End Date
        date_interval:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          - quarter
          - year
          - relative_week
          title: Date Interval
          default: day
        filters:
          items:
            oneOf:
            - $ref: '#/components/schemas/RegionIdFilter'
            - $ref: '#/components/schemas/ModelIdFilter'
            - $ref: '#/components/schemas/TopicIdFilter'
            - $ref: '#/components/schemas/TagIdFilter'
            - $ref: '#/components/schemas/PromptIdFilter'
            - $ref: '#/components/schemas/PersonaIdFilter'
            - $ref: '#/components/schemas/BrandNameFilter'
            - $ref: '#/components/schemas/MerchantNameFilter'
            - $ref: '#/components/schemas/ProductNameFilter'
            - $ref: '#/components/schemas/profound_shopping__api__AssetNameFilter'
            discriminator:
              propertyName: field
              mapping:
                asset_name: '#/components/schemas/profound_shopping__api__AssetNameFilter'
                brand_name: '#/components/schemas/BrandNameFilter'
                merchant_name: '#/components/schemas/MerchantNameFilter'
                model: '#/components/schemas/ModelIdFilter'
                model_id: '#/components/schemas/ModelIdFilter'
                persona_id: '#/components/schemas/PersonaIdFilter'
                product_name: '#/components/schemas/ProductNameFilter'
                prompt_id: '#/components/schemas/PromptIdFilter'
                region: '#/components/schemas/RegionIdFilter'
                region_id: '#/components/schemas/RegionIdFilter'
                tag: '#/components/schemas/TagIdFilter'
                tag_id: '#/components/schemas/TagIdFilter'
                topic: '#/components/schemas/TopicIdFilter'
                topic_id: '#/components/schemas/TopicIdFilter'
          type: array
          title: Filters
        order_by:
          additionalProperties:
            type: string
            enum:
            - asc
            - desc
          type: object
          title: Order By
        pagination:
          type: 'null'
          title: Pagination
        include_count:
          type: boolean
          title: Include Count
          default: false
        tag_filter_type:
          type: string
          enum:
          - any
          - all
          title: Tag Filter Type
          default: any
        include_no_tag:
          type: boolean
          title: Include No Tag
          default: false
        exclude_topic_ids:
          type: boolean
          title: Exclude Topic Ids
          default: false
      type: object
      required:
      - category_id
      - start_date
      - end_date
      title: ShoppingTriggeredPromptsQuery
    ShoppingProductRow:
      properties:
        product:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Product
        date:
          anyOf:
          - type: string
          - type: 'null'
          title: Date
        topic:
          anyOf:
          - $ref: '#/components/schemas/DimensionRef'
          - type: 'null'
        prompt:
          anyOf:
          - $ref: '#/components/schemas/DimensionRef'
          - type: 'null'
        visibility_score:
          anyOf:
          - type: number
          - type: 'null'
          title: Visibility Score
        average_position:
          anyOf:
          - type: number
          - type: 'null'
          title: Average Position
        visibility_rank:
          anyOf:
          - type: integer
          - type: 'null'
          title: Visibility Rank
        position1_percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Position1 Percentage
        position2_percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Position2 Percentage
        position3_percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Position3 Percentage
        position_above3_percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Position Above3 Percentage
        product_rating:
          anyOf:
          - type: number
          - type: 'null'
          title: Product Rating
        product_num_reviews:
          anyOf:
          - type: integer
          - type: 'null'
          title: Product Num Reviews
        product_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Product Url
        product_image_urls:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Product Image Urls
        merchants:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Merchants
          description: Per-product merchant offers `{name, price}` (only with `include_merchants`).
      additionalProperties: true
      type: object
      title: ShoppingProductRow
      description: One product row. Merchant fields present only when `include_merchants` is true.
    TopicIdFilter:
      properties:
        field:
          anyOf:
          - type: string
            const: topic_id
          - type: string
            const: topic
            deprecated: true
          title: Field
        operator:
          type: string
          enum:
          - is
          - not_is
          - in
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
            format: uuid
          - items:
              type: string
              format: uuid
            type: array
          title: Value
      type: object
      required:
      - field
      - operator
      - value
      title: TopicIdFilter
      description: Filter by topic UUID.
    YoutubeChannelsInfo:
      properties:
        total_results:
          type: integer
          title: Total Results
          description: Distinct leading channels matching the window; this can differ from the number of rows returned.
        count:
          type: integer
          title: Count
          description: Number of rows returned in `data` for this page.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null on the last page.
        models:
          items:
            type: string
          type: array
          title: Models
          description: Display names of the models the report covers.
        start_date:
          type: string
          title: Start Date
          description: Echoed request start date (YYYY-MM-DD, ET).
        end_date:
          type: string
          title: End Date
          description: Echoed request end date (YYYY-MM-DD, ET).
        filter:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filter
          description: Echoed normalized filter tree, or null when no filter was sent.
        category_id:
          type: string
          format: uuid
          title: Category Id
          description: Echoed category id this report covers.
        source_types:
          items:
            type: string
            enum:
            - video
            - short
            - channel
            - playlist
            - other
          type: array
          title: Source Types
          description: Source types this report covers. Derived from the request, not returned rows, so a listed type may have no rows.
        cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
          description: Echoed request cursor; omitted on the first page.
        limit:
          type: integer
          title: Limit
          description: Effective page size in leading channels, not returned rows.
        interval:
          anyOf:
          - type: string
            enum:
            - day
            - week
            - month
          - type: 'null'
          title: Interval
          description: Effective channel time-series interval, or null when the channel report covers the full window.
        group_by:
          items:
            type: string
          type: array
          title: Group By
          description: Echoed dimensions that define a row. Channel reports echo `["channel"]` when group_by is omitted.
      additionalProperties: true
      type: object
      required:
      - total_results
      - count
      - models
      - start_date
      - end_date
      - category_id
      - source_types
      - limit
      - group_by
      title: YoutubeChannelsInfo
      description: Channel report metadata, including effective paging and grouping settings.
    ReferralsQueryV2:
      properties:
        date_interval:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          - quarter
          - year
          - relative_week
          title: Date Interval
          description: Date interval for the report. (only used with date dimension)
          default: day
        dimensions:
          items:
            type: string
            enum:
            - date
            - hour
            - host
            - path
            - referral_source
            - referral_type
          type: array
          title: Dimensions
          description: Dimensions to group the report by.
          default: []
        metrics:
          items:
            type: string
            enum:
            - visits
            - last_visit
          type: array
          title: Metrics
        order_by:
          additionalProperties:
            type: string
            enum:
            - asc
            - desc
          propertyNames:
            enum:
            - date
            - hour
            - host
            - path
            - referral_source
            - visits
            - last_visit
            - referral_type
          type: object
          title: Order By
          description: "\nCustom ordering of the report results.\n\nThe order is a record of key-value pairs where:\n- key is the field to order by, which can be a metric or dimension\n- value is the direction of the order, either 'asc' for ascending or 'desc' for descending.\n\nWhen not specified, the default order is the first metric in the query descending.\n        "
          default: {}
          examples:
          - date: asc
        pagination:
          $ref: '#/components/schemas/Pagination'
          description: Pagination settings for the report results.
        domain:
          type: string
          title: Domain
          description: Domain to query logs for.
        start_date:
          type: string
          format: date-time
          title: Start Date
          description: 'Start date for logs. Accepts: YYYY-MM-DD, YYYY-MM-DD HH:MM, YYYY-MM-DD HH:MM:SS, or full ISO timestamp.'
        end_date:
          type: string
          format: date-time
          title: End Date
          description: End date in UTC. Accepts same formats as start_date. Defaults to now UTC if omitted.
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
        timezone:
          type: string
          title: Timezone
          description: IANA timezone name for date bucketing and filter boundaries.
          default: UTC
        metric_filters:
          items:
            $ref: '#/components/schemas/NumericMetricFilter'
          type: array
          title: Metric Filters
          description: Numeric filters applied after report metrics are calculated.
        filters:
          items:
            oneOf:
            - $ref: '#/components/schemas/PathFilter'
            - $ref: '#/components/schemas/ReferralSourceFilter'
            - $ref: '#/components/schemas/ReferralTypeFilter'
            discriminator:
              propertyName: field
              mapping:
                path: '#/components/schemas/PathFilter'
                referral_source: '#/components/schemas/ReferralSourceFilter'
                referral_type: '#/components/schemas/ReferralTypeFilter'
          type: array
          title: Filters
          description: Filters for referrals report.
      type: object
      required:
      - metrics
      - domain
      - start_date
      title: ReferralsQueryV2
    AccuracyOverviewQuery:
      properties:
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        comparison_start_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Comparison Start Date
        comparison_end_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Comparison End Date
        category_id:
          type: string
          format: uuid
          title: Category Id
        topic_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Topic Ids
        exclude_topic_ids:
          type: boolean
          title: Exclude Topic Ids
          default: false
        tag_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Tag Ids
        tag_filter_type:
          type: string
          enum:
          - all
          - any
          title: Tag Filter Type
          default: any
        include_no_tag:
          type: boolean
          title: Include No Tag
          default: false
        region_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Region Ids
        platform_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Platform Ids
        persona_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Persona Ids
        include_no_persona:
          type: boolean
          title: Include No Persona
          default: false
        prompt_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Prompt Ids
        citation_categories:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Citation Categories
        date_bucket:
          anyOf:
          - type: string
          - type: 'null'
          title: Date Bucket
        group_by:
          type: string
          enum:
          - period
          - theme
          title: Group By
          default: period
      type: object
      required:
      - start_date
      - end_date
      - category_id
      title: AccuracyOverviewQuery
    DimensionRef:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      type: object
      title: DimensionRef
      description: An ``{id, name}`` reference for a grouped dimension value.
    CitationsV2Query:
      properties:
        category_id:
          type: string
          format: uuid
          title: Category Id
        start_date:
          type: string
          title: Start Date
          description: YYYY-MM-DD, ET, inclusive
        end_date:
          type: string
          title: End Date
          description: YYYY-MM-DD, ET, inclusive
        entity:
          type: string
          enum:
          - domain
          - page
          - citation_category
          title: Entity
          description: 'What each row represents: `domain` (default), `page`, or `citation_category`. Legacy: `group_by: ["page"]` (with `entity` omitted) is still accepted and is equivalent to `entity: "page"`. `citation_category` uses the dashboard split view: a citation counts under both its page-level and domain-level category, so category shares can sum to more than 100%.'
          default: domain
        group_by:
          items:
            type: string
            enum:
            - page
            - date
            - model
            - topic
            - region
            - persona
            - prompt
          type: array
          title: Group By
        metrics:
          anyOf:
          - items:
              type: string
              enum:
              - count
              - citation_share
              - rank
              - first_cited_at
            type: array
          - type: 'null'
          title: Metrics
        interval:
          type: string
          enum:
          - day
          - week
          - month
          title: Interval
          default: day
        scope:
          type: string
          enum:
          - all
          - owned
          title: Scope
          description: '`all` (every cited domain) or `owned` (only your owned domains). Applies to `entity=domain`.'
          default: all
        filter:
          anyOf:
          - $ref: '#/components/schemas/FilterNode'
          - type: 'null'
          description: '`citation_category` filters on a cited URL''s single category; `citation_tag` filters on the custom citation tags a URL carries (a URL can carry several). List the category''s tags with `GET /v1/org/categories/{category_id}/citation-tags`.'
        limit:
          anyOf:
          - type: integer
            maximum: 50.0
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Limit
          description: Page size; default 10, max 50.
        max_results:
          anyOf:
          - type: integer
            exclusiveMinimum: 0.0
          - type: 'null'
          title: Max Results
          description: 'Stream endpoint only: cap the number of streamed rows (default: all).'
        cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      additionalProperties: false
      type: object
      required:
      - category_id
      - start_date
      - end_date
      title: CitationsV2Query
    ShoppingRowsResponse:
      properties:
        info:
          $ref: '#/components/schemas/Info'
        data:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Data
      type: object
      required:
      - info
      - data
      title: ShoppingRowsResponse
    VisibilityV2Info:
      properties:
        total_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Results
          description: Total rows matching the query before pagination (null when not computed).
        count:
          type: integer
          title: Count
          description: Number of rows returned in `data` for this page.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null on the last page.
        models:
          items:
            type: string
          type: array
          title: Models
          description: Display names of the models the report covers.
        start_date:
          type: string
          title: Start Date
          description: Echoed request start date (YYYY-MM-DD, ET).
        end_date:
          type: string
          title: End Date
          description: Echoed request end date (YYYY-MM-DD, ET).
        filter:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filter
          description: Echoed normalized filter tree, or null when no filter was sent.
        scope:
          type: string
          title: Scope
          description: 'Asset scope: `all` or `owned`.'
        asset_filter:
          anyOf:
          - additionalProperties: true
            type: object
          - items:
              type: string
            type: array
          - type: string
          - type: 'null'
          title: Asset Filter
          description: Echoed `assets` selection (filter clause, name, or list), or null.
      additionalProperties: true
      type: object
      required:
      - count
      - models
      - start_date
      - end_date
      - scope
      title: VisibilityV2Info
    SentimentV2Response:
      properties:
        info:
          $ref: '#/components/schemas/SentimentV2Info'
        data:
          items:
            $ref: '#/components/schemas/SentimentRow'
          type: array
          title: Data
      type: object
      required:
      - info
      - data
      title: SentimentV2Response
    ClusterVerificationPairsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ClusterVerificationPair'
          type: array
          title: Data
        clusterReasoning:
          anyOf:
          - type: string
          - type: 'null'
          title: Clusterreasoning
      type: object
      required:
      - data
      title: ClusterVerificationPairsResponse
    CitationsV2Info:
      properties:
        total_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Results
          description: Total rows matching the query before pagination (null when not computed).
        count:
          type: integer
          title: Count
          description: Number of rows returned in `data` for this page.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null on the last page.
        models:
          items:
            type: string
          type: array
          title: Models
          description: Display names of the models the report covers.
        start_date:
          type: string
          title: Start Date
          description: Echoed request start date (YYYY-MM-DD, ET).
        end_date:
          type: string
          title: End Date
          description: Echoed request end date (YYYY-MM-DD, ET).
        filter:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filter
          description: Echoed normalized filter tree, or null when no filter was sent.
        scope:
          type: string
          title: Scope
          description: 'Citation scope: `all` or `owned`.'
        metrics:
          items:
            type: string
          type: array
          title: Metrics
          description: Metrics returned per row.
        analysis_types:
          items:
            type: string
          type: array
          title: Analysis Types
          description: Analysis types the citations were drawn from.
      additionalProperties: true
      type: object
      required:
      - count
      - models
      - start_date
      - end_date
      - scope
      - metrics
      - analysis_types
      title: CitationsV2Info
    FactcheckScoresInfo:
      properties:
        total_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Results
          description: Total rows matching the query before pagination (null when not computed).
        count:
          type: integer
          title: Count
          description: Number of rows returned in `data` for this page.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null on the last page.
        models:
          items:
            type: string
          type: array
          title: Models
          description: Display names of the models the report covers.
        start_date:
          type: string
          title: Start Date
          description: Echoed request start date (YYYY-MM-DD, ET).
        end_date:
          type: string
          title: End Date
          description: Echoed request end date (YYYY-MM-DD, ET).
        filter:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filter
          description: Echoed normalized filter tree, or null when no filter was sent.
        group_by:
          items:
            type: string
          type: array
          title: Group By
          description: Dimensions the scores are sliced by (empty → headline).
      additionalProperties: true
      type: object
      required:
      - count
      - models
      - start_date
      - end_date
      - group_by
      title: FactcheckScoresInfo
    ClaimCitationsQuery:
      properties:
        start_date:
          type: string
          title: Start Date
        end_date:
          type: string
          title: End Date
        comparison_start_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Comparison Start Date
        comparison_end_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Comparison End Date
        category_id:
          type: string
          format: uuid
          title: Category Id
        topic_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Topic Ids
        exclude_topic_ids:
          type: boolean
          title: Exclude Topic Ids
          default: false
        tag_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Tag Ids
        tag_filter_type:
          type: string
          enum:
          - all
          - any
          title: Tag Filter Type
          default: any
        include_no_tag:
          type: boolean
          title: Include No Tag
          default: false
        region_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Region Ids
        platform_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Platform Ids
        persona_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Persona Ids
        include_no_persona:
          type: boolean
          title: Include No Persona
          default: false
        prompt_ids:
          anyOf:
          - items:
              type: string
              format: uuid
            type: array
          - type: 'null'
          title: Prompt Ids
        citation_categories:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Citation Categories
        cluster_id:
          type: string
          format: uuid
          title: Cluster Id
        limit:
          type: integer
          minimum: 1.0
          title: Limit
          default: 10
        offset:
          type: integer
          minimum: 0.0
          title: Offset
          default: 0
        search_query:
          anyOf:
          - type: string
          - type: 'null'
          title: Search Query
        sort_order:
          type: string
          enum:
          - asc
          - desc
          title: Sort Order
          default: desc
      type: object
      required:
      - start_date
      - end_date
      - category_id
      - cluster_id
      title: ClaimCitationsQuery
    ShoppingMerchantsV2Info:
      properties:
        total_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Results
          description: Total rows matching the query before pagination (null when not computed).
        count:
          type: integer
          title: Count
          description: Number of rows returned in `data` for this page.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null on the last page.
        models:
          items:
            type: string
          type: array
          title: Models
          description: Display names of the models the report covers.
        start_date:
          type: string
          title: Start Date
          description: Echoed request start date (YYYY-MM-DD, ET).
        end_date:
          type: string
          title: End Date
          description: Echoed request end date (YYYY-MM-DD, ET).
        filter:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filter
          description: Echoed normalized filter tree, or null when no filter was sent.
        view:
          type: string
          title: View
          description: '`distribution`, `brand_share`, or `top_products`.'
        metrics:
          items:
            type: string
          type: array
          title: Metrics
          description: Metrics returned per row.
      additionalProperties: true
      type: object
      required:
      - count
      - models
      - start_date
      - end_date
      - view
      - metrics
      title: ShoppingMerchantsV2Info
    ShoppingTriggerRateQuery:
      properties:
        category_id:
          type: string
          format: uuid
          title: Category Id
        start_date:
          type: string
          format: date-time
          title: Start Date
          description: Start date. Accepts YYYY-MM-DD, YYYY-MM-DD HH:MM, or ISO timestamp.
        end_date:
          type: string
          format: date-time
          title: End Date
          description: End date. Accepts YYYY-MM-DD, YYYY-MM-DD HH:MM, or ISO timestamp.
        comparison_start_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Comparison Start Date
        comparison_end_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Comparison End Date
        date_interval:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          - quarter
          - year
          - relative_week
          title: Date Interval
          default: day
        filters:
          items:
            oneOf:
            - $ref: '#/components/schemas/RegionIdFilter'
            - $ref: '#/components/schemas/ModelIdFilter'
            - $ref: '#/components/schemas/TopicIdFilter'
            - $ref: '#/components/schemas/TagIdFilter'
            - $ref: '#/components/schemas/PromptIdFilter'
            - $ref: '#/components/schemas/PersonaIdFilter'
            - $ref: '#/components/schemas/BrandNameFilter'
            - $ref: '#/components/schemas/MerchantNameFilter'
            - $ref: '#/components/schemas/ProductNameFilter'
            - $ref: '#/components/schemas/profound_shopping__api__AssetNameFilter'
            discriminator:
              propertyName: field
              mapping:
                asset_name: '#/components/schemas/profound_shopping__api__AssetNameFilter'
                brand_name: '#/components/schemas/BrandNameFilter'
                merchant_name: '#/components/schemas/MerchantNameFilter'
                model: '#/components/schemas/ModelIdFilter'
                model_id: '#/components/schemas/ModelIdFilter'
                persona_id: '#/components/schemas/PersonaIdFilter'
                product_name: '#/components/schemas/ProductNameFilter'
                prompt_id: '#/components/schemas/PromptIdFilter'
                region: '#/components/schemas/RegionIdFilter'
                region_id: '#/components/schemas/RegionIdFilter'
                tag: '#/components/schemas/TagIdFilter'
                tag_id: '#/components/schemas/TagIdFilter'
                topic: '#/components/schemas/TopicIdFilter'
                topic_id: '#/components/schemas/TopicIdFilter'
          type: array
          title: Filters
        order_by:
          additionalProperties:
            type: string
            enum:
            - asc
            - desc
          type: object
          title: Order By
        pagination:
          anyOf:
          - $ref: '#/components/schemas/Pagination'
          - type: 'null'
        include_count:
          type: boolean
          title: Include Count
          default: false
        tag_filter_type:
          type: string
          enum:
          - any
          - all
          title: Tag Filter Type
          default: any
        include_no_tag:
          type: boolean
          title: Include No Tag
          default: false
        exclude_topic_ids:
          type: boolean
          title: Exclude Topic Ids
[...]
